/************* CONTENT **************/
#content {
    margin-top: 30px;
}

.enter-details {
    color: black;
    text-decoration: none;
}

.enter-details:hover {
    color: rgb(104, 102, 102);
    transition: 300ms;
}

.border-right-0 {
    border-right: 0px !important;
}

.form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}