<div class="head">
    <header>Newspaper</header>
    <div class="subhead">
        <div class=" container subhead-elements">
            <p class="mb-0">DEV_TEAM_06</p>
            <app-login></app-login>
        </div>
    </div>
</div>
<div class="container wrapper">
    <div class="articles-list" *ngFor="let article of articlesList; let indexOfelement = index;">
        <div class="article">
            <div class="title">
                <span>{{article.title}}</span>
                <p><span class="subtitle">{{article.subtitle}}</span></p>
            </div>
            <img [src]="'data:' + article.thumbnail_media_type + ';base64,' + article.thumbnail_image ">
            <p [innerHTML]="article.abstract"></p>
            <button class="btn btn-outline-secondary px-4 mt-5" [routerLink]="['/detail/' + article.id]"> Details </button>
    </div>
</div>

