<section id="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" appOnWindowScroll>
            <div class="container-fluid">
                <a class="navbar-brand theme-text" href="#">Newspaper</a>
                <app-login></app-login>
            </div>
        </nav>
        <div class="middle">
            <h1 class="text-white display-3 fw-bold">To keep you informed</h1>
        </div>
    </div>
</section>

<section id="content">
    <div class="container">
        <div class="row mb-3 justify-content-between">
            <div class="col-auto">
                <div ngbDropdown>
                    <button type="button" class="btn btn-outline-primary" id="categoryFilterDropdown"
                        ngbDropdownToggle>Filters</button>
                    <div ngbDropdownMenu aria-labelledby="categoryFilterDropdown" class="px-2">
                        <div *ngFor="let category of filterCategories; let i = index;">
                            <div class="form-check">
                                <input mdbCheckbox class="form-check-input" type="checkbox" value="{{category.name}}"
                                    id="filterCategory{{i}}" (change)="addFilter(category.name)"
                                    [checked]="category.value" />
                                <label class="form-check-label" for="filterCategory{{i}}">{{category.name}}</label>
                            </div>
                        </div>
                        <button ngbDropdownItem (click)="getAllArticles()" class="btn">Apply filters</button>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="row">
                    <div class="col-auto">
                        <input type="text" class="form-control d-inline" placeholder="Keyword" [(ngModel)]="keyword" name="keyword">
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary d-inline"
                            (click)="getAllArticles()">Search</button>
                    </div>
                    <div class="col-auto" *ngIf="isLogged()">
                        <button type="button" class="btn btn-outline-dark d-inline" [routerLink]="['/create/']" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Create article">
                            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                            &nbsp;Create article
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <!-- <button>Add new article</button> -->
        <div class="row justify-content-evenly">
            <div *ngFor="let article of articlesList; let i = index;" class="my-2 col-4 same-height">
                <ng-container [ngTemplateOutlet]="infoNews" [ngTemplateOutletContext]="{articleElement:article}">
                </ng-container>
            </div>
        </div>
    </div>
</section>



<!--Template with the content of a card-->
<ng-template #infoNews let-article='articleElement'>
    <div class="d-flex article-container flex-column">
        <div class="col">
            <a [routerLink]="['/detail/', article.id]">
                <img class="img-responsive article-image"
                src="data:{{article.thumbnail_media_type}};base64,{{article.thumbnail_image}}" alt="Placeholder image">
            </a>
            <br>
            <div class="row">
                <div class="col-auto" *ngIf="isLogged()">
                    <button class="btn btn-sm btn-outline-secondary rounded-2 mt-1" type="button" [routerLink]="['/modificate/', article.id]">
                        <fa-icon [icon]="['fas', 'pen-to-square']"></fa-icon>
                        &nbsp;Modify article
                    </button>
                </div>
                <div class="col-auto">
                    <span class="badge text-bg-danger my-2">{{article.category}}</span>
                </div>
            </div>
            <br>
            <span class="text-summary" style="font-size: 12px;">{{article.update_date | date:'short'}}</span>
            <br>
            <a class="enter-details" [routerLink]="['/detail/', article.id]">
                <span class="bold-small">{{article.title}}</span>
            </a>
            <br>
            <span class="text-summary" style="font-size: 14px;">{{article.subtitle}}</span>
            <br>
        </div>
        <div class="row mt-auto mt-4 justify-content-between" style="text-align: right;">
            <div class="col-auto mt-4">
                <button class="btn btn-primary" [routerLink]="['/detail/', article.id]">Read article</button>
            </div>
            <div class="col-auto mt-auto" *ngIf="isLogged()">
                <button class="btn btn-sm btn-outline-danger rounded-2" (click)="openModal(mymodal, article.id)">
                    <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</ng-template>

<!--Delete modal-->
<ng-template #mymodal let-modal let-id>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Delete article</h5>
            <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" (click)="modal.close()">
                    <fa-icon [icon]="['fas', 'times']"></fa-icon>
                </span>
            </button>
        </div>
        <div class="modal-body">
            <p>
                Are you sure you want to delete the article? <br/>
                By clicking "Confirm" you agree that you want to delete the item.
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="removeArticle(modal)">Confirm</button>
        </div>
    </div>
</ng-template>


<footer class="bg-light text-center text-lg-start mt-5">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-dark" href="#">Team 06</a>
    </div>
    <!-- Copyright -->
</footer>