.head header{
    position: relative;
    margin: 20px 0;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    line-height: 72px;
}

.subhead{
    padding: 12px 0 12px 0;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    text-transform: uppercase;
    font-family: 'Droid Serif', serif;
}
.subhead-elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
}

.article {
    padding: 10px;
    border: 1px solid #2f2f2f;
}

.article .title{
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    display: block;
    margin: 0 auto;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;
}
.article .subtitle{
    font-weight: 400;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.article .subtitle:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 20px auto;
}
.article .subtitle.hl6:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;
}
.article img{
    width:100%;
}