<head>
    <title>One Page Wonder - Start Bootstrap Template</title>
</head>
<body id="page-top">
    <button  type="button" (click)="goBack()" class="btn btn-primary">Back</button>
    <!-- Header-->
    <header class="masthead text-center">
        <div class="masthead-content">
            <div class="container px-5">
                <span class="overlay-text">
                    <div class="shadow p-3 mb-5 bg-white rounded d-flex justify-content-center imgDiv" [style.background-image]="url(data:' + {{article.image_media_type}} + ';base64,' + {{article.image_data}} + ')">
                        <div class="bgDiv">
                        <h1 class="masthead-heading mb-2"> {{ article.title }}</h1>
                        <h5 class="masthead-subheading mb-0"> {{ article.subtitle }} </h5>
                        </div>
                    </div>
                </span>
            <div class="row justify-content-between pb-5">
                <div class="shadow p-3 mx-3 bg-white rounded col-sm">
                    <h5> Category: </h5> <p [innerHTML]= "article.category"> </p>
                </div>
                <div class="shadow p-3 mx-3 bg-white rounded col-sm">
                    <h5> Author: </h5> <p [innerHTML]= "article.aut"> </p>
                </div>
                <div class="shadow p-3 mx-3 bg-white rounded col-sm">
                    <h5> Last update: </h5> <p [innerHTML]= "article.update_date"> </p>
                </div>
                
            </div>
                <p [innerHTML]= "article.abstract"></p>
                <p [innerHTML]= "article.body"></p>
            </div>
        </div>
    </header>

</body>
 
