<!--Navbar-->
<nav class="navbar navbar-dark bg-dark justify-content-between" appOnWindowScroll>
    <div class="container-fluid">
        <div class="row justify-content-center align-self-center">
            <div class="col-auto">
                <button type="button" (click)="goBack()" class="btn btn-dark mr-2">
                    <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>
                </button>
            </div>
            <div class="col-auto align-self-center">
                <a class="navbar-brand theme-text align-self-center" href="#">Newspaper</a>
            </div>
        </div>
        <app-login></app-login>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Edit article</h3>
            <form #articleForm="ngForm" (ngSubmit)="sendForm()">
                <div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Image</label>
                        <input class="form-control" type="file" (change)="fileChangeEvent($event)">

                    </div>
                </div>
                <div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="aTitle" required [(ngModel)]="article.title"
                            name="aTitle" #aTitle="ngModel" aria-label="Title of the article"
                            placeholder="Insert here the title..." />
                        <label for="aTitle">Title</label>
                    </div>
                    <div class="alert alert-danger mt-2" *ngIf="aTitle.touched && !aTitle.valid">
                        <div *ngIf="aTitle.errors?.['required']">Title is required.</div>
                    </div>
                </div>

                <div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="aSubtitle" required [(ngModel)]="article.subtitle"
                            name="aSubtitle" #aSubtitle="ngModel" aria-label="Subtitle of the article"
                            placeholder="Insert here the subtitle..." />
                        <label for="aSubtitle">Subtitle</label>
                    </div>
                    <div class="alert alert-danger mt-2" *ngIf="aSubtitle.touched && !aSubtitle.valid">
                        <div *ngIf="aSubtitle.errors?.['required']">Subtitle is required.</div>
                    </div>
                </div>

                <div>
                    <div class="mb-3">
                        <span>Category</span>
                        <select class="form-select" aria-label="Default select example" required
                            [(ngModel)]="article.category" name="aCategory" #aCategory="ngModel">
                            <option value="National" [selected]="article.category == 'National'">National</option>
                            <option value="Economy" [selected]="article.category == 'Economy'">Economy</option>
                            <option value="Sports" [selected]="article.category == 'Sports'">Sports</option>
                            <option value="Technology" [selected]="article.category == 'Technology'">Technology</option>
                        </select>
                    </div>
                    <div class="alert alert-danger mt-2" *ngIf="aCategory.touched && !aCategory.valid">
                        <div *ngIf="aCategory.errors?.['required']">Category is required.</div>
                    </div>
                </div>

                <div>
                    <div class="">
                        <span class="w-7">Abstract</span>
                        <angular-editor [placeholder]="'Insert here the abstract...'" [(ngModel)]="article.abstract"
                            required name="aAbstract" #aAbstract="ngModel" id="aAbstract"
                            aria-label="Abstract of the article">
                        </angular-editor>
                    </div>
                    <div class="alert alert-danger mt-2" *ngIf="aAbstract.touched && !aAbstract.valid">
                        <div *ngIf="aAbstract.errors?.['required']">Abstract is required.</div>
                    </div>
                </div>

                <div>
                    <div class="">
                        <span class="w-7">Body</span>
                        <angular-editor [placeholder]="'Insert here the body...'" [(ngModel)]="article.body"
                            name="aBody" #aBody="ngModel" aria-label="Body of the article">
                        </angular-editor>
                    </div>
                </div>

                <div class="col-xs-12 my-4">
                    <div class="text-center">
                        <button class="btn btn-primary btn-lg first-button" type="submit"
                            [disabled]="!articleForm.form.valid">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-6">
            <h3>Preview</h3>
            <div class="my-5 align-items-center justify-content-center imgDiv"
                style="background:url(data:{{article.image_media_type}};base64,{{article.image_data}}); border-radius: 25px;">
                <div class="align-items-center p-3 p-sm-4" style="background-color: #00000082; border-radius: 25px;">
                    <span class="align-middle">
                        <span class="badge text-bg-danger my-2">{{article.category}}</span>
                        <br/>
                        <h1 class="text-white display-5">{{ article.title }}</h1>
                    </span>
                </div>
            </div>
            <p>Subtitle: {{article.subtitle}}</p>
            <p>Abstract: {{article.abstract}}</p>
            <p [innerHtml]="article.body"></p>

        </div>
    </div>


</div>